<div class="container">

<form action='/edit-post/<%= @edit_key %>' method='post'>

  <h2 id="show_editation">Edit your post</h2>
  <div id="form_editation">
  <input type='textarea' name='title' value="<%= @title %>"></input>
  <br>

  <input type='textarea' name='description' value="<%= @description %>"></input>
  <br>

  <input type='textarea' name='price' value="<%= @price %>" maxlength="5" cols = "5"></input>
  <br>
  <input type='textarea' name='email' value="<%= @email %>"></input>
  <p>

    <select name="category">
     <option value="">Choose a Category</option>
     <option value="tenetur">Tenetur</option>
     <option value="labore">Labore</option>
     <option value="neque">Neque</option>
     <option value="eos">Eos</option>
     <option value="magnam">Magnam</option>
    </select>
  <p>

  <input type='submit' id="submit_editation"></input>
</div>
</form>
</div>
