<div class="container">

<form action='/edit-post/<%= @edit_key %>' method='post'>

  <p> Category: </p>
    <input type="radio" name="category" value="tenetur">tenetur<br>
    <input type="radio" name="category" value="labore">labore<br>
    <input type="radio" name="category" value="neque">neque<br>
    <input type="radio" name="category" value="eos">eos<br>
    <input type="radio" name="category" value="magnam">magnam
  <p>
  <input type='textarea' name='title' value="<%= @title %>"></input>
  <br>

  <input type='textarea' name='description' value="<%= @description %>"></input>
  <br>

  <input type='textarea' name='price' value="<%= @price %>" maxlength="5" cols = "5"></input>
  <br>
  <input type='textarea' name='email' value="<%= @email %>"></input>
  <p>

  <input type='submit'></input>
</form>
</div>
