<div class="item-container">

<form action='/edit-post/<%= @edit_key %>' method='post'>

  <h2 id="show_editation">Edit your post</h2>
  <div id="form_editation">
  <input type='textarea' name='title' value="<%= @title %>" required></input>
  <br>

  <input type='textarea' name='description' value="<%= @description %>"></input>
  <br>

  <input type='textarea' name='price' value="<%= @price %>" maxlength="10" cols = "10" required></input>
  <br>
  <input type='textarea' name='email' value="<%= @email %>" required></input>
  <p>

    <select name="category" required>
     <option value="">Choose a Category</option>
     <option value="aut">Aut</option>
     <option value="officiis">Officiis</option>
     <option value="nihil">Nihil</option>
     <option value="minus">Minus</option>
     <option value="quia">Quia</option>
    </select>
  <p>

  <input type='submit' id="submit_editation"></input>
</div>
</form>
</div>
